@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 */
  font-family: 'Nunito', sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.toast{
  font-family: 'Nunito', sans-serif !important;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #df4aab;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  outline: none;
  padding: 5px 0;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #161d28;
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  letter-spacing: 1px;
  transition: all 0.25s;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.login-form {
  background: rgba(29, 42, 58, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
}

@media (min-width: 640px) {
  .login-form {
    box-shadow: 12px 12px 0 rgba(255, 255, 255, 0.7);
  }
}

.swinger {
  animation: swing infinite 6s;
}

.arrow_box {
	position: relative;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	right:5%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(0, 0, 0, 0);
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #e6e6e6;
	border-width: 11px;
	margin-left: -11px;
}

.send_file form{
  width: calc(100% - 35px);
}

/* Animations */
.slow {
  animation-duration: 3.2s !important;
}

.options-btn {
  transform: rotate(360deg);
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}